:host{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: local;
  box-shadow:  20px 20px 60px #9f9f9f,
-20px -20px 60px #ffffff;
}
.container3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem 2.5rem;
}

.container2{
    display: grid;
    gap: 1.5rem 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item5 {
    border-radius: 10px;
    background: local;
    box-shadow:  28px 28px 57px #9f9f9f,
  -28px -28px 57px #ffffff;
  }
  .item6 {
    border-radius: 10px;
    background: local;
    box-shadow:  20px 20px 60px #9f9f9f,
  -20px -20px 60px #ffffff;
  }
.flat{
  grid-template-columns: 1 / span 5;
  border-radius: 10px;
    background: local;
    box-shadow:  20px 20px 60px #9f9f9f,
  -20px -20px 60px #ffffff;
}


