.card-header{
    display: grid;
    grid-template-columns: 1fr;
    font-size: 25px;
    font-family: cursive;
  }
  
  .card-body{
    font-size: 50px;
    font-family: fantasy;
  }
 .card-text{
    color: green;
    font-size: 2rem;
    font-family: cursive;
 }
 .small{
    font-size: 1.5rem;
 }