/* You can add global styles to this file, and also import other style files */
.card-header{
    margin: 1rem;
    font: 2rem oblique;
}
.card-body {
    font-size: 3.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card-text {
    color: #8ebd3c;
    font-size: 1.8rem;
}